<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>476832050109-09j634iach7hvf6t3vko0qmisdah24le.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjVsa9BMd8e2Odv5QwJVq7m-k8Z-wWVw8</string>
	<key>GCM_SENDER_ID</key>
	<string>476832050109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wqdFlutter</string>
	<key>PROJECT_ID</key>
	<string>aadharam-825d6</string>
	<key>STORAGE_BUCKET</key>
	<string>aadharam-825d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476832050109:ios:acc6b06dc225d86486c0d4</string>
	<key>DATABASE_URL</key>
	<string>https://aadharam-825d6.firebaseio.com</string>
</dict>
</plist>